---
import Layout from '../layouts/Layout.astro';
import data from '../data/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import AboutUs from '../components/aboutUs';
import Navbar from '../components/navbar';
---

<Layout title="Landing Page">
	<main>
    <Navbar />
    <div class="container mt-5">
        <AboutUs
          images={data.values}
        />
      </div>
  </main>

</Layout>