---
import Layout from '../layouts/Layout.astro';
import data from '../data/data.json';
import '../../assets/scss/trust-quick-hub.scss';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import CardMarketplace from '../components/products/cardMarketplace';

---

<script>
  function toggleHeart(e) {
    e.target.classList.toggle('fas');
    e.target.classList.toggle('far');
    e.target.classList.toggle('text-danger');
  }
  
  document.getElementById('heart1').addEventListener("click", toggleHeart);
</script>

<Layout title="Trust Quick Hub">
	<main>
    <Navbar />
    <div class="container mt-5">
      <div class="row mb-5">
        <div class="d-block text-center mb-5">
          <h3>Where Do You Want to Shop?</h3>
        </div>
        {data.marketplaces.slice(0, 1).map(marketplace => 
          <div class="col-md-6 col-lg-3">
            <CardMarketplace
              thumb_src = {marketplace.thumb_src}
              title = {marketplace.title}
              link={marketplace.link}
            />
          </div>
        )}
      </div>

      <div class="mb-5">
        <Footer />
      </div>
    </div>
	</main>
</Layout>
