---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import CardMarketplace from '../components/products/cardMarketplace';

let cartItems = [];
data.shoppingCart.map(id => 
  data.products.filter(x => x.id == id).map(x => cartItems.push(x))
)
let cartItems2 = [];
data.shoppingCart2.map(id => 
  data.products.filter(x => x.id == id).map(x => cartItems2.push(x))
)

let orderProducts = [];

data.orders[0].products.forEach(productDetails => {
  data.products.forEach(product => {
    if (product.id == productDetails.id) {
      orderProducts.push(product);
    }
  });
})

let orderHistoryProducts = new Set();

data.orders.forEach((order) => {
  order.products.forEach(productDetails => {
    data.products.forEach(product => {
      if (product.id == productDetails.id) {
        orderHistoryProducts.add(product);
      }
    });
  })
})

---

<script>
  function toggleHeart(e) {
    e.target.classList.toggle('fas');
    e.target.classList.toggle('far');
    e.target.classList.toggle('text-danger');
  }
  
  document.getElementById('heart1').addEventListener("click", toggleHeart);
</script>

<Layout title="Astro Ecommerce">
	<main>
    <Navbar />
    <div class="container mt-5">
      <div class="row mb-5">
        <div class="d-block text-center mb-5">
          <h3>Where Do You Want to Shop?</h3>
        </div>
        {data.marketplaces.slice(0, 1).map(marketplace => 
          <div class="col-md-6 col-lg-3">
            <CardMarketplace
              thumb_src = {marketplace.thumb_src}
              title = {marketplace.title}
              link={marketplace.link}
            />
          </div>
        )}
      </div>

      <div class="mb-5">
        <Footer />
      </div>
    </div>
	</main>
</Layout>
